@tailwind base;
@tailwind components;
@tailwind utilities;

/* 모바일 기준 전체 폰트 크기 작게 */
@media (max-width: 640px) {
  html {
    font-size: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #fff !important;
    color: #222 !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
